<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration debug="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread | %logger.%method\(%file:%line\)] %-5level - %msg%n</pattern>
        </encoder>
    </appender>    

    <appender name="FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d [%thread | %logger.%method\(%file:%line\)] %-5level - %msg%n</pattern>
        </encoder>
        <file>logs/log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log.log.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    
    <logger name="com.example.springmvc.demo" level="DEBUG">  
        <appender-ref ref="FILE" />  
    </logger>  

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
	
</configuration>